*.dll
*.exe
*.json
*.txt
*.props
*.targets
*.cache
*.info
*.AssemblyInfo.cs
*.AssemblyAttributes.cs
*.pdb
ConsoleApp1/.idea/.idea.ConsoleApp1/.idea/vcs.xml
ConsoleApp1/.idea/.idea.ConsoleApp1/.idea/workspace.xml
ConsoleApp1/.idea/.idea.ConsoleApp1/.idea/workspace.xml
ConsoleApp1/.idea/.idea.ConsoleApp1/.idea/workspace.xml
.idea2
.idea
ConsoleApp1/.idea
ConsoleApp1/.idea2